<!DOCTYPE html>
<html>
     <!-- link to the app.css file for style setting -->
     <link rel="stylesheet" href="../public/Content/app.css"/>

     <body height="1500">
            <div class="container_p">
                <!-- 1st Project -->
                <div class="box-p1">                  
                    <!-- insert image -->
                    <span><img src="soho.png" style="float:left" width="300"/></span>
                    <!-- Project content -->
                    <ul>
                        <li>Total tranction size of HKD50 millions</li>
                        <li>Execution of share buy back</li>
                        <li>Execution plan advisor</li>
                        <li>Action monitoring</li>                      
                    </ul>
                </div> 
                <!-- 2n Project -->
                <div class="box-p2">      
                    <!-- insert image -->              
                    <span><img src="panasia.png" style="float:left" width="300"/></span>
                    <!-- Project content -->
                    <ul>
                        <li>Total tranction size of HKD1.35 billions</li>
                        <li>IPO presentation</li>
                        <li>Institutial fund raising</li>
                        <li>Order managment</li>
                        <li>Stock market analysis</li>                     
                    </ul>
                </div> 
                <!-- 3rd Project -->    
                <div class="box-p3">                   
                    <!-- insert image -->
                    <span><img src="china.png" style="float:left" width="300"/></span>
                    <!-- Project content -->
                    <ul>
                        <li>China investment outlook report </li>
                        <li>Macro economic data research and analysis</li>
                        <li>Stocks analysis and suggestions</li>
                        <li>Future prediction to the global 
                            and China financial markets</li>                     
                    </ul>
                </div> 

            </div>

        <body>


</html>