<!DOCTYPE html>
    <html>
     <!-- link to the app.css file for style setting -->
     <link rel="stylesheet" href="../public/Content/app.css"/>

     <body>
            <div class="container_s">
                
                <div class="box-s1">
                    
                    <img src="services.png" style="float:left" width="300"/>
                </div> 
                <!-- Content of Services -->
                <div class="box-s2">
                    <ul>
                        <li> Equity research </li>
                        <li> Investmant Planning</li>
                        <li> Financial modeling</li>
                        <li> Trading algorithm development</li>
                        <li> C programming developem</li>
                        <li> JavaScript Web development</li>
                    </ul>
                </div> 
            </div>
        <body>
    </html>