
    <!DOCTYPE html>


    <!-- this is the content of About me page -->
    <html lang=”en”>

        <body style="height:2000px">
            <div class="container" id="about me">
                <div class=”row”>
                    <!-- link to the app.css file for style setting -->
                    <link rel="stylesheet" href="../public/Content/app.css"/>
                    
                    <div class="profile">
                        <!-- inserting develop photo -->
                        <div><img src="Profile.png" style="float:left" width="200"/></div>
                        <h1 id="profile-name">Ho Yin Yip, Jones</h1>
                    </div>
                    
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <!--Profile content -->
                    <h2 class="text-left">Profile</h2>
                    <!-- Write a paragraph to introduce myself -->
                    <div class="introduction">
                                            
                            <p>
                                My Name is Ho Yin, Yip. I am 40 and I graduated at University of New South Wales, Sydney Australia with Bachelor Degree in Electrical 
                                Engineering and Master of Commerce in Funds Management in 2005 and 2007 respectively. After finishing the 7-year study in Australia, 
                                I have been working as a professional equity trader in Hong Kong financial institutes since 2007 till 2022. 
                                I am currently studying artificial intelligent technology in Centennial Collage.
                            
                                
                                
                            </p>
                             <!-- puting my pdf file resume by using iframe tag -->
                            <h3 class="text-left">Resume</h3>
                            <iframe src="cv2023.pdf" width="100%" height="1000px"></iframe>
                            
                    </div>
                </div>
            </div>
           
        </body>
    </html>
     
   
   
   

   
   



